body {
    font: 12px 'PT Sans', serif;
    background: #eee9de;
    width: 300px;
    margin: 5px;
    overflow: overlay;
}

#body-div {
    width: 95%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d2814e;
}

::-webkit-scrollbar-track {
    background:  #eee9de;
}

h1 {
    width: 100%;
    font: 16px;
    color: #d2814e;
    text-align: center;
    margin: 0px;
    margin-left: 2px;
}

input {
    width: 99%;
    background-color: #ffffff;
}

input[type=text], textarea {
    background: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-transition: all 0.50s ease-in-out;
       -moz-transition: all 0.50s ease-in-out;
        -ms-transition: all 0.50s ease-in-out;
         -o-transition: all 0.50s ease-in-out;
}

input[type=text]:focus, textarea:focus {
    background: black;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

a::hover {
    text-decoration: underline;
}
