body {
    font: 12px 'PT Sans', serif;
    background: #faf0e6;
    width: 300px;
    overflow: overlay;
}

#div-body {
    width: 95%;
    margin: auto;
    margin-left: 0px;
    align-items: center;
}

#div-heading {
    width: 95%;
    font-size: 24px;
    font-weight: bold;
    color: #d2814e;
    text-align: center;
    margin: auto;
}

#div-list {
    width: 100%;
    font-size: 16px;
    margin: auto;
    border-spacing: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #914e75;
}

::-webkit-scrollbar-track {
    background: #faf0e6;
}

#div-input {
    width: 95%;
    margin: auto;
    margin-bottom: 5px;
}

input[type=text], textarea { /* transition for search bar */
    background: #ffffff;
    width: 100%;
    height: 20px;
    -webkit-transition: all 0.40s ease-in-out;
       -moz-transition: all 0.40s ease-in-out;
        -ms-transition: all 0.40s ease-in-out;
         -o-transition: all 0.40s ease-in-out;
}

input[type=text]:focus, textarea:focus {
    background: #aaf0d1;
    color: #1f4740;
    width: 100%;
    height: 20px;
}

tr {
    width: 100%;
    margin: 0px;
    border-spacing: 5px;
    box-shadow: 0 4px 8px 0 black; /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    background: #dbccd3;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 33ch;
}

td:hover {
    background: #aaf0d1;
}

td a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

a:link {
    color: #005488;
}

a:visited {
    color: #005488;
}

a:hover {
    color: #ff6fff;
}
